* {
    box-sizing: border-box;
    padding: 0;
}
img{
    float: left;
    margin: 10px;
}

@media print{
    img{
        width: 400px;
        float: none;
    }
}
.sec{
    text-align: center;
    float: left;
    margin: 100px;

}